.main-container {
  height:100%;
  width: 100%;
}

.editor-canvas-center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: normal normal 800 32px/32px Figtree;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 0.1;
}

.editor-canvas-foreground {
  position: relative;
  min-height: 100%;
  min-width: auto;
  overflow: scroll;
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 25px 25px;
  background-attachment:local;
}

.editor-canvas-foreground::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

.editor-canvas-foreground::-webkit-scrollbar-track {
  background: none;
}

.editor-canvas-foreground::-webkit-scrollbar-thumb {
  background: #8888889a;
  border-radius: 3px;
}

.editor-canvas-foreground::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.canvas-dragable-block {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid orange;
  text-align: center;
  background-color: white;
}
