.canvas-table {
  position: absolute;
  top: 15px;
  left: 10px;
  margin: 0;
  font-size: 15px;
  padding: 3px;
  height: fit-content;
  width: fit-content;
  margin-top: -6px;
}

.canvas-table table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.canvas-table th {
  background-color: #dddddd;
}

.canvas-table td,
.canvas-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
