.canvas-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  color: white;
  font-weight: 800;
  border-radius: 3px;
  margin-top: 1px;
  margin-left: 3px;
}
